:root {
  --text: #84448c;
  --card: #202426;
  --orange: #ffa200;
  --bg: linear-gradient(135deg,  #84448c, #381762);

  --delay: 200ms;
  --rotate-0: rotateY(0deg);  /* not visible */
  --rotate-90: rotateY(90deg); /* visible */
  --transition: all ease-in 200ms;

  --radius: 0.75rem;
  --shadow: 1px 1px 13px #03030390;

  --card-width: 100px;
  --card-width-mobile: 20vw;
  --card-enter: enter 600ms ease;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif;

  font-size: 1rem;
}

body {
  height: 100vh;
  padding: 1rem;
  display: flex;
  overflow: auto; 
  color: var(--text);
  background: var(--bg);
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffffff;
  text-shadow: 0px 0px 10px var(--text);
  box-shadow: 0px 0px 5px var(--text);
  border: 1px solid #ffffff;
  cursor: pointer;
  border-radius: 5px;
}


.card img {
  width: 100%;
}


.grid {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: var(--card-width);
  animation: var(--card-enter);
  border-radius: var(--radius);
  cursor: pointer;
}


.card-face, .card-back {
  padding: 1rem;
  background: var(--card);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);
}

.card-face {
  position: absolute;
  transform: var(--rotate-90);
}

.card-back {
  transform: var(--rotate-0);
  transition-delay: var(--delay);
}

.selected .card-face {
  transform: var(--rotate-0);
  transition-delay: var(--delay);
}

.selected .card-back {
  transform: var(--rotate-90);
  transition-delay: 0s;
}

.header {
  background-color: var(--card);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  box-shadow: var(--shadow);

}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  margin-top: 10px;
  color: white;
  text-shadow: 0px 0px 10px var(--text)
}

.wins {
  color: white;
  text-shadow: 0px 0px 10px var(--text)
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 720px) {

  .card {
    width: var(--card-width-mobile);
  }
  
}